{% block content %}
    <h1>Map your URL</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.target_url.label }}<br>
            {{ form.target_url(size=32) }}
        </p>
        <p>
            {{ form.custom_url.label }}<br>
            {{ form.custom_url(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

{% if form.target_url.errors %}
    <ul class="errors">
    {% for error in form.target_url.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}

</p>
